@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
/*
@font-face {
font-family:Roboto;
font-weight:100;
src:local(※), url(/fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
font-family:Roboto;
font-weight:400;
src:local(※), url(/fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
font-family:Roboto;
font-weight:700;
src:local(※), url(/fonts/Roboto-Bold.woff) format('woff');
}
@font-face {
font-family: 'NanumSquareRound';
font-weight:100;
src:
        url(/fonts/NanumSquareRoundL.woff2) format('woff2'),
        url(/fonts/NanumSquareRoundL.woff) format('woff');
}
@font-face {
font-family: 'NanumSquareRound';
font-weight:400;
src:
        url(/fonts/NanumSquareRoundR.woff2) format('woff2'),
        url(/fonts/NanumSquareRoundR.woff) format('woff');
}
@font-face {
font-family: 'NanumSquareRound';
font-weight:700;
src:
        url(/fonts/NanumSquareRoundB.woff2) format('woff2'),
        url(/fonts/NanumSquareRoundB.woff) format('woff');
}
@font-face {
font-family: 'NanumSquareRound';
font-weight:900;
src:
        url(/fonts/NanumSquareRoundEB.woff2) format('woff2'),
        url(/fonts/NanumSquareRoundEB.woff) format('woff');
}
/*
@font-face {
font-family: 'NanumSquare';
font-weight:100;
src:
        url(/fonts/NanumSquareL.woff) format('woff');
}
@font-face {
font-family: 'NanumSquare';
font-weight:400;
src:
        url(/fonts/NanumSquareR.woff) format('woff');
}
@font-face {
font-family: 'NanumSquare';
font-weight:700;
src:
        url(/fonts/NanumSquareB.woff) format('woff');
}
@font-face {
font-family: 'NanumSquareR';
font-weight:900;
src:
        url(/fonts/NanumSquareEB.woff) format('woff');
}*/
