#skipNav{position:absolute;top:0;left:0;width:100%;}
#skipNav a{position:relative;display:block;opacity:0;text-align:center;font-weight:bold;color:#fff;background:rgba(0,0,0,0.4);height:0;transition:all .4s;}
#skipNav a:focus{opacity:1;z-index:1000;padding:10px 0px;height:auto;}
#skipNav a:hover{text-decoration:underline;}

body{font-size:$base-font-size;height:$base-height;color:$base-color;}
body.pc{min-height:768px;}
//header
#header {position:relative;z-index:10;}
#header #logo{width:80px;height:25px;position:absolute;left:180px;top:100px;z-index:10;transition:all .4s ease-in-out;}
#header #logo > a{display:block;height:100%;width:100%;background:url($base-url+'/logo.png') 0 0 no-repeat;background-size:100% auto;overflow:hidden;color:transparent;font-size:0.6rem;transition:all .6s ease-in-out;}
#header .btn-nav{width:25px;height:16px;position:absolute;left:101px;top:104px;overflow:hidden;font-size:0;z-index:10;transition:all .4s ease-in-out;}
#header .btn-nav:before,
#header .btn-nav:after,
#header .btn-nav span{content:'';position:absolute;width:100%;height:2px;background:#000;right:0;top:50%;transform:translateY(-50%);transition:all .4s ease-in-out;}
#header .btn-nav:before{top:0;transform:translateY(0%)}
#header .btn-nav:after{content:'열기';top:auto;bottom:0;transform:translateY(0%)}
.pc #header .btn-nav:hover:before{width:60%;right:-1px;transform:rotate(45deg);top:1px}
.pc #header .btn-nav:hover:after{width:60%;right:-1px;transform:rotate(-45deg);bottom:1px;}
#header .btn-nav.on:before{transform:rotate(45deg);top:45%;}
#header .btn-nav.on:after{transform:rotate(-45deg);bottom:45%;}
#header .btn-nav.on span{opacity:0;}
.pc #header .btn-nav.on:hover:before{width:60%;right:11px;transform:rotate(-45deg);top:1px}
.pc #header .btn-nav.on:hover:after{width:60%;right:11px;transform:rotate(45deg);bottom:1px;}
.pc #header .btn-nav.on:hover span{opacity:1}

#header #nav{width:100%;height:100vh;background:linear-gradient(to right, #fff 10%, transparent);position:absolute;left:-100%;top:0;transition:all .6s ease-in-out;overflow:hidden;opacity:0;}
#header #nav a{font-weight: 900;font-size: 4rem;}
#header #nav > ul{position:absolute;top:50%;left:180px;right:180px;transform:translateY(-50%);transition:all .4s ease-in-out}
#header #nav .nav-item + .nav-item{margin-top:68px;}
#header #nav .nav-link{position:relative;}
#header #nav .nav-link:after{content:'';height:2px;width:0px;background:#000;position:absolute;bottom:-20px;left:0;transition:all .4s ease-in-out;}
#header #nav .nav-link:before{content:'';position:absolute;left:500px;width:900px;height:0px;padding-top:440px;transition:all .4s ease-in-out;opacity:0;pointer-events:none;}
#header #nav .nav-item:nth-child(1) .nav-link:before{background: url($base-url+'/pic_project01.jpg') 0 0 no-repeat;background-size:100% auto;}
#header #nav .nav-item:nth-child(2) .nav-link:before{background:url($base-url+'/pic_project02.jpg') 0 0 no-repeat;background-size:100% auto;top:-136px;}
#header #nav .nav-item:nth-child(3) .nav-link:before{background:url($base-url+'/pic_project03.jpg') 0 0 no-repeat;background-size:100% auto;top:-264px;}
#header #nav .nav-link:hover:after{width:520px;}
#header #nav .nav-link:hover:before{opacity:1;left:300px;}
#header.on #nav{left:0;opacity:1;}

//footer
#footer address{position:fixed;left:100px;bottom:90px;font-size:1.2rem;z-index:20;transition:all .4s ease-in-out;}
#footer .sales-inquiry{position:absolute;right:100px;top:100px;font-size:1.2rem;text-align:right;font-weight:bold;z-index:20;transition:all .4s ease-in-out;overflow:hidden;}
#footer .sales-inquiry .btn-copy{padding: 0 12px;height: 18px;line-height: 18px;border-radius: 9px;background-color: #000;font-size: 1rem;color: #fff;font-weight: bold;position:absolute;right:5px;top:0px;padding-top:1px;transition:all .4s ease-in-out;}
#footer .sales-inquiry .tit{position:absolute;left:10px;top:0;font-weight:900;}
#footer .sales-inquiry .email{padding-left:80px;padding-right:75px;padding-bottom:5px;display:block;position:relative;}
#footer .sales-inquiry .tel{position:relative;display:inline-block;padding:0px 5px 5px 10px;margin-top:20px;}
#footer .sales-inquiry .tel a{position:relative;padding-right:25px;}
#footer .sales-inquiry .tel a:after{content:'';width:18px;height:18px;position:absolute;right:0;top:-2px;background:url($base-url+"/tel1.png") 0 0 no-repeat;background-size:100% auto;transition:all .4s ease-in-out;}
#footer .sales-inquiry .brochure{display:none;}
#footer .sales-inquiry .tel:after,
#footer .sales-inquiry .email:after{content:'';height:1px;background:#000;position:absolute;bottom:0;width:100%;right:0;transition:all .4s ease-in-out;}
#footer .btn-sales-detail{position:absolute;left:0;top:0;z-index:10;width:60px;height:20px;}
#footer .sales-inquiry .inner-wrap{position:relative;left:195px;transition:all .4s ease-in-out;}
#footer .sales-inquiry .inner-wrap.on{left:0;}
#footer .inner-wrap .btn-sales-detail:after{content:'';position:absolute;height:0;width:0;border:5px solid transparent;border-left:0;border-right-color:#000;border-top-width:4px;border-bottom-width:4px;left:0;top:50%;transform:translateY(-50%);margin-top:-2px;transition:all .4s ease-in-out;}
#footer .inner-wrap.on .btn-sales-detail:after{transform:rotate(180deg) translateY(50%)}

//home
.home.contents{display: flex;flex-direction: column;flex-flow: column-reverse;align-items: center;height:100vh;overflow:hidden;position:relative;}
.home-art1{position:absolute;left:0;bottom:0;;z-index:3;width:100%;
    .home-subject{display:none;}
    .home-view-more{position:absolute;left:50%;bottom:70px;font-size:1.6rem;font-weight:900;}
    .btn-home-more{display:block;}
}


.home-art2 {position:fixed;width:100%;height:100%;left:0;top:100%;background:rgba(0,0,0,0.7);box-sizing:border-box;z-index:5;color:#fff;transition:all .8s ease-in-out;opacity:1;border-radius:30px;
    &.on{top:0;}
    .prj-list {position:absolute;left:50%;right:180px;top:50%;transform:translate(-50%, -50%);width:1000px;
        > ul{display:flex;flex-wrap:wrap;
            > li{box-sizing:border-box;margin-bottom:60px;
                &:nth-child(even){width:45%;}
                &:nth-child(odd){width:50%;margin-right:5%}
                &:nth-last-child(2){margin-bottom:0;}
                &:nth-last-child(1){margin-bottom:0;}
                .item{display:inline-block;line-height:1.2;opacity:1;transition:all .4s ease-in-out;position:relative;}
                .item:before{content:'';height:1px;width:0;background:#fff;position:absolute;bottom:-15px;left:0;transition:all .4s ease-in-out}
                .item:after{content:'';}
                a.item:hover{opacity:1;}
                a.item:hover:before{width:calc(100% + 30px)}
                .txt1{font-size:1.4rem;font-weight:bold;}
                .txt2{font-size:2.8rem;font-weight:900;word-break: break-all;margin-top:10px;}
                .btn-all-project{display:inline-block;font-weight:bold;font-size:1.4rem;position:relative;width:300px;padding-bottom:10px;border-bottom:1px solid #fff;margin-top:20px;transition:all .4s ease-in-out;}
                .btn-all-project:before{width:10px;height:20px;transform:skew(35deg);position:absolute;right: 5px;bottom:-1px;border-right:2px solid #fff;}
                .btn-all-project:hover{transform:scale(1.1)}
            }
        }
    }
}


.white-mode{
    .home-art2{top:0;opacity:1;border-radius:0;transition-delay:.3s;}
    #header .btn-nav:before,
    #header .btn-nav:after,
    #header .btn-nav span{background:#fff;transition-delay: .6s;}
    #header #logo > a{background-image:url($base-url+'/logo-w.png');transition-delay: .6s;}
    #footer address,
    #footer .sales-inquiry .inner-wrap {color:#fff;transition-delay: .6s;}
    #footer .inner-wrap .btn-sales-detail:after{border-right-color:#fff;transition-delay: .6s;}
    #footer .sales-inquiry .tel:after,
    #footer .sales-inquiry .email:after{background:#fff;transition-delay: .6s;}
    #footer .sales-inquiry .btn-copy{background:#fff;transition-delay: .6s;color:#000;}
    #footer .sales-inquiry .tel a:after{background-image:url($base-url+'/tel1-w.png');transition-delay: .6s;}
    #homeSwiper .splide .info{transform:translateY(-100%);opacity:0;transition-duration: .5s;transition-delay:0;}
    #homeSwiper .splide .splide__slider .splide__arrows button{top:60%;opacity:0;transition-delay:0;transition-duration: .5s;}
    #homeSwiper .splide .pagiation-num{top:40%;opacity:0;transition-delay:0;transition-duration: .5s;}
    #homeSwiper .splide .splide__autoplay{opacity:0;transition-delay: .6s;}
}
.home.contents .home-art3{flex:1;width:100%;height:100%}
.home.contents {height:100%}
.container {height:100%}
.m4a-wrap {height:100%;}

@include pcMaxHeight1{
    body.pc #header #nav > ul{top:180px;transform:translateY(0)}
    body.pc .m4a-wrap{min-height:768px;position:relative;}
    body.pc #footer address{position:absolute;}
}

@include device3{
    html{zoom:0.6}
}