#skipNav{position:absolute;top:0;left:0;width:100%;}
#skipNav a{position:relative;display:block;opacity:0;text-align:center;font-weight:bold;color:#fff;background:rgba(0,0,0,0.6);height:0;}
#skipNav a:focus{opacity:1;z-index:1000;padding:10px 0px;height:auto;}
#skipNav a:hover{text-decoration:underline;}

body{font-size:$base-font-size;color:$base-color;}
body.pc{min-height:$pc-max-height;}
//header
#header {position:fixed;z-index:10;}
#header #logo{width:80px;height:25px;position:absolute;left:180px;top:100px;z-index:10;transition:all .6s ease-in-out;overflow:hidden;}
#header #logo:after{height:100%;width:60px;transform:skew(-30deg);position:absolute;left:-30px;bottom:0;transform-origin:left bottom;background:linear-gradient(to right,rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);animation: aniLogo 18s ease-in-out infinite;}
@keyframes aniLogo{
  0%{left:-80px}
  40%{left:-80px}
  50%{left:80px}
  100%{left:80px;}
}
#header #logo > a{display:block;height:100%;width:100%;background:url($base-url+'/logo.png') 0 0 no-repeat;background-size:100% auto;overflow:hidden;color:transparent;font-size:0.6rem;transition:all .6s ease-in-out;}
#header .btn-nav{width:25px;height:16px;position:absolute;left:101px;top:104px;overflow:hidden;font-size:0;z-index:10;transition:all .6s ease-in-out;}
#header .btn-nav:before,
#header .btn-nav:after,
#header .btn-nav span{content:'';position:absolute;width:100%;height:2px;background:#000;right:0;top:50%;transform:translateY(-50%);transition:all .6s ease-in-out;}
#header .btn-nav:before{top:0;transform:translateY(0%)}
#header .btn-nav:after{content:'열기';top:auto;bottom:0;transform:translateY(0%)}
.pc #header .btn-nav:hover:before{width:60%;right:-1px;transform:rotate(45deg);top:1px}
.pc #header .btn-nav:hover:after{width:60%;right:-1px;transform:rotate(-45deg);bottom:1px;}
#header .btn-nav.on:before{transform:rotate(45deg);top:45%;}
#header .btn-nav.on:after{transform:rotate(-45deg);bottom:45%;}
#header .btn-nav.on span{opacity:0;}
.pc #header .btn-nav.on:hover:before{width:60%;right:11px;transform:rotate(-45deg);top:1px}
.pc #header .btn-nav.on:hover:after{width:60%;right:11px;transform:rotate(45deg);bottom:1px;}
.pc #header .btn-nav.on:hover span{opacity:1}

#header #nav{width:100%;height:100vh;min-height:$pc-max-height;background:linear-gradient(to right, #fff 30%, rgba(255,255,255,0));position:fixed;left:-100%;top:0;transition:all .6s ease-in-out;overflow:hidden;opacity:0;}
.pc #header #nav{min-height:$pc-max-height;}
#header #nav a{font-weight: 900;font-size: 4rem;}
#header #nav > ul{position:absolute;top:50%;left:180px;right:180px;transform:translateY(-60%);transition:all .6s ease-in-out}
#header #nav .nav-item + .nav-item{margin-top:68px;}
#header #nav .nav-link{position:relative;transition:all .6s ease-in-out;}
#header #nav .nav-link:after{content:'';height:2px;width:0px;background:#000;position:absolute;bottom:-20px;left:0;transition:all .6s ease-in-out;}
#header #nav .nav-link:before{content:'';position:absolute;left:500px;max-width:900px;height:440px;transition:all .6s ease-in-out;opacity:0;pointer-events:none;border-radius:10px;width:calc(100vw - 580px)}
#header #nav .nav-item:nth-child(1) .nav-link:before{background: url($base-url+'/pic_project01.jpg') center 0 no-repeat;background-size:auto 100%}
#header #nav .nav-item:nth-child(2) .nav-link:before{background:url($base-url+'/pic_project02.jpg') center 0 no-repeat;background-size:auto 100%;top:-136px;}
#header #nav .nav-item:nth-child(3) .nav-link:before{background:url($base-url+'/pic_project03.jpg') center 0 no-repeat;background-size:auto 100%;top:-264px;}
#header #nav .nav-link:hover:after{width:520px;}
#header #nav .nav-link:hover:before{opacity:1;left:300px;}
#header.on #nav{left:0;opacity:1;}

//footer
#footer address{position:fixed;left:100px;bottom:90px;font-size:1.2rem;z-index:20;transition:all .6s ease-in-out;}
#footer .sales-inquiry{position:fixed;right:100px;top:100px;font-size:1.2rem;text-align:right;font-weight:bold;z-index:20;transition:all .6s ease-in-out;overflow:hidden;}
#footer .sales-inquiry .btn-copy{padding: 0 12px;height: 18px;line-height: 18px;border-radius: 9px;background-color: #000;font-size: 1rem;color: #fff;font-weight: bold;position:absolute;right:5px;top:0px;padding-top:1px;transition:all .6s ease-in-out;}
#footer .sales-inquiry .tit{position:absolute;left:10px;top:0;font-weight:900;}
#footer .sales-inquiry .email{padding-left:80px;padding-right:75px;padding-bottom:5px;display:block;position:relative;}
#footer .sales-inquiry .tel{position:relative;display:inline-block;padding:0px 5px 5px 10px;margin-top:20px;}
#footer .sales-inquiry .tel a{position:relative;padding-right:25px;}
#footer .sales-inquiry .tel a:after{content:'';width:18px;height:18px;position:absolute;right:0;top:-2px;background:url($base-url+"/tel1.png") 0 0 no-repeat;background-size:100% auto;transition:all .6s ease-in-out;}
#footer .sales-inquiry .brochure{display:none;}
#footer .sales-inquiry .tel:after,
#footer .sales-inquiry .email:after{content:'';height:1px;background:#000;position:absolute;bottom:0;width:100%;right:0;transition:all .6s ease-in-out;}
#footer .btn-sales-detail{position:absolute;left:0;top:0;z-index:10;width:60px;height:20px;}
#footer .sales-inquiry .inner-wrap{position:relative;left:195px;transition:all .6s ease-in-out;}
#footer .sales-inquiry .inner-wrap.on{left:0;}
#footer .inner-wrap .btn-sales-detail:after{content:'';position:absolute;height:0;width:0;border:5px solid transparent;border-left:0;border-right-color:#000;border-top-width:4px;border-bottom-width:4px;left:0;top:50%;transform:translateY(-50%);margin-top:-2px;transition:all .6s ease-in-out;}
#footer .inner-wrap.on .btn-sales-detail:after{transform:rotate(180deg) translateY(50%)}

//home
.home.contents{display: flex;flex-direction: column;flex-flow: column-reverse;align-items: center;height:100vh;overflow:hidden;position:relative;}
.home-art1{position:absolute;left:0;bottom:0;;z-index:3;width:100%;
  .home-subject{display:none;}
}
.home-view-more{position:absolute;left:50%;bottom:65px;font-size:1.5rem;font-weight:900;z-index:2;
  .btn-home-more{display:block;margin-left:20px;}
  .ani-arrow{width:18px;height:100px;position:absolute;left:-18px;bottom:0;border-right:1px solid #000;animation:moveDown 1s ease-in-out infinite;}
  .ani-arrow:before{width:20px;height:20px;border-bottom:1px solid #000;position:absolute;bottom:0;right:0;transform:rotate(35deg);transform-origin:bottom right;}
}
.home-view-more.on{
  .ani-arrow:before{bottom:auto;top:0;transform:rotate(-35deg);transform-origin:top right;border-top:1px solid #000;border-bottom:0;}
}
@keyframes moveDown{
	0%{bottom:-10px;}
	50%{bottom:0px;}
	100%{bottom:-10px;}
}
.home-art2 {position:fixed;width:100%;height:100%;left:0;top:100%;background:rgba(0,0,0,0.7);box-sizing:border-box;z-index:5;color:#fff;transition:all .8s ease-in-out;opacity:1;border-radius:30px;
  &.on{top:0;}
  .btn-more-close{position:absolute;z-index:1;width: 25px;height: 16px;position: absolute;right: 30px;
    top: 30px;overflow: hidden;font-size: 0;color:trnsparent;
    &:before{position: absolute;width: 100%;height: 2px;background: #fff;right: 0;transform: rotate(45deg);top: 45%;}
    &:after{position: absolute;width: 100%;height: 2px;background: #fff;right: 0;transform: rotate(-45deg);bottom: 45%;}
    span{opacity:0;}
  }
  .prj-list {position:absolute;left:50%;right:180px;top:50%;transform:translate(-50%, -50%);width:1000px;
    > ul{display:flex;flex-wrap:wrap;
      > li{box-sizing:border-box;margin-bottom:60px;transition:all .6s ease-in-out;
        &:nth-child(even){width:45%;}
        &:nth-child(odd){width:50%;margin-right:5%}
        &:nth-last-child(2){margin-bottom:0;}
        &:nth-last-child(1){margin-bottom:0;}
        .item{display:inline-block;line-height:1.2;opacity:1;transition:all .6s ease-in-out;position:relative;}
        .item:before{content:'';height:1px;width:0;background:#fff;position:absolute;bottom:-15px;left:0;transition:all .6s ease-in-out}
        .item:after{content:'';}
        a.item:hover{opacity:1;}
        a.item:hover:before{width:calc(100% + 30px)}
        .txt1{font-size:1.6rem;font-weight:bold;}
        .txt2{font-size:2.8rem;font-weight:900;word-break: break-word;margin-top:10px;transition:all .6s ease-in-out;}
        .btn-all-project{display:inline-block;font-weight:bold;font-size:1.6rem;position:relative;width:300px;padding-bottom:10px;border-bottom:1px solid #fff;margin-top:20px;transition:all .6s ease-in-out;}
        .btn-all-project:before{width:10px;height:20px;transform:skew(35deg);position:absolute;right: 5px;bottom:-1px;border-right:2px solid #fff;}
        .btn-all-project:hover{transform:scale(1.1)}
      }
    }
  }
}
.home-art3{position: absolute;left: 0;top: 0;width: 100vw;height: 100vh;}
#homeSwiper .splide{ height:100%;
  .splide__slider{position:relative;height:100%;
    .splide__arrows{
      .splide__arrow--prev{left:90px;text-align:right;}
      .splide__arrow--prev:before{content:'';width:15px;height:15px;border-left:1px solid #000;position:absolute;left:8px;bottom:0;transform:skew(-45deg);}
      .splide__arrow--prev:after{content:'PREV';}
      .splide__arrow--next{right:90px;text-align:left;}
      .splide__arrow--next:after{content:'NEXT';}
      .splide__arrow--next:before{content:'';width:15px;height:15px;border-right:1px solid #000;position:absolute;right:8px;bottom:0;transform:skew(45deg);}
      button{border-bottom:1px solid #000;width:100px;padding:2px 5px;font-size:1.6rem;margin-top:-23px;transition:all .6s ease-in-out;opacity:1;transition-delay: .3s;}
      svg{display:none;}
      .splide__arrow--prev:hover{font-weight:900;left:100px;transition-delay:0s;transition:all .6s;}
      .splide__arrow--next:hover{font-weight:900;right:100px;transition-delay:0s;transition:all .6s;}
    }
    .splide__track{height:100%;
      .splide__list{height:100%;
        .splide__slide{position:absolute;left:0;top:0;opacity:0;width:100%;height:100%;background:url($base-url+'/logo_m4a.png') center center no-repeat;background-size:cover;transition: opacity .8s ease-in-out !important;pointer-events: none;z-index:0;}
        .splide__slide.is-active{transition: opacity 1s ease-out !important;z-index:5;pointer-events:auto;}
        .splide__slide.is-active{opacity:1;}
        .splide__slide.prj-item1{background-image:url($base-url+'/pic_project1.jpg')}
        .splide__slide.prj-item2{background-image:url($base-url+'/pic_project2.jpg')}
        .splide__slide.prj-item3{background-image:url($base-url+'/pic_project3.jpg')}
        .splide__slide.prj-item4{background-image:url($base-url+'/pic_project4.jpg')}
        .splide__slide.prj-item5{background-image:url($base-url+'/pic_project5.jpg')}
        .splide__slide.prj-item6{background-image:url($base-url+'/pic_project6.jpg')}
        .splide__slide:before{content:'';width:100%;height:100%;position:absolute;left:0;top:0;background:#fff;opacity:0.6}
      }
    }
  }
  .splide__progress{position:fixed;z-index:4;width:100%;top:0;left:0;
      .splide__progress__bar{height:2px;background:#000;}
  }
  .splide__autoplay{position:absolute;z-index:4;right:85px;bottom:80px;transition:all .6s ease-in-out;opacity:1;
    button{display:inline-block;width:40px;height:40px;color:transparent;position:relative;transition:all .6s ease-in-out}
    button:hover{transform:scale(1.6);}
    .splide__play:after{content:'';position: absolute;height: 0;width: 0;border: 8px solid transparent;border-right: 0;border-left-color: #000;border-top-width: 6px;border-bottom-width: 6px;left:50%;top: 50%;transform: translate(-50%, -50%);margin-left:2px;}
    .splide__pause:before,
    .splide__pause:after{content:'';position: absolute;left:50%;top: 50%;transform: translate(-50%, -50%);margin-left:-4px;height:11px;width:3px;background:#000;}
    .splide__pause:after{margin-left:4px;}
    .splide__play{display:none;}
  }
  .splide__autoplay.on .splide__pause{display:none;}
  .splide__autoplay.on .splide__play{display:block;}
  .splide__pagination{position:fixed;bottom:0;width:100%;left:0;transform:translate(0,0);display:flex;
    > li {flex:1}
    .splide__pagination__page{width:100%;height:2px;border-radius: 0;background:#fff;opacity:0.2;padding:0;margin:0;z-index:0;position:relative;transition:all .6s ease-in-out;}
    .splide__pagination__page.is-active{background:#000;opacity:.8;transform:scale(1.2);z-index:1}
  }
  .pagiation-num{position:absolute;left:50%;top:50%;z-index:3;font-size:1.6rem;font-weight:bold;margin-top:160px;transform:translate(-50%, -50%);transition:all .6s ease-in-out;transition-delay:.3s;opacity:1;width:100px;text-align:center;}
  .pagiation-num >b{font-weight:900;}
  .pagiation-num > span{margin:0px 6px;}
  .info{text-align:center;position:absolute;width:100%;top:50%;left:0;transform:translateY(-50%);margin-top:-55px;opacity:1;transition:all .6s ease-in-out;transition-delay: .3s;}
  .info .contract{font-size:6.0rem;font-weight:900;line-height:1;margin-top:30px;padding:0px 50px;}
  .info .contract > span{display:inline-block;position:relative;position:relative;margin:0px 250px;}
  .info .contract > span:before,
  .info .contract > span:after{content:'/';font-size:30px;position:absolute;left:-40px;top:50%;transform: translateY(-50%);font-weight:bold;}
  .info .contract > span:after{left:auto;right:-40px;}
  .info .partner{font-size:1.6rem;font-weight:900;}
  .info .partner > span {text-align:left;display:inline-block;vertical-align:middle;min-width:63px;}
  .info .partner .plus{font-size:2.0rem;font-weight:normal;margin:0px 20px;position:relative;min-width:0;}
  .info .detail{width:100%;position:absolute;left:0;bottom:-70px;}
  .info .detail > a{position:relative;z-index:2;display: inline-block;padding: 10px;padding-right:0;font-weight: 900;letter-spacing: 12px;font-size: 1.5rem;transition:all .2s ease-in-out;}
  .info .detail > a:hover{transform:scale(1.15)}
  .info .detail > a:before{content:'';width:100%;height:100%;background:#fff;border-radius:30px;position:absolute;left:-30px;top:-5px;z-index:-1;opacity:.2;padding:10px 30px;}
  .info .detail > a:after{content:'';position:absolute;left:0;bottom:0;background:#566c65;height:1px;width:100%;}
}
.white-mode{
  .home-art2{top:0;opacity:1;border-radius:0;transition-delay:.3s;}
  #header .btn-nav:before,
  #header .btn-nav:after,
  #header .btn-nav span{background:#fff;transition-delay: .6s;}
  #header #logo > a{background-image:url($base-url+'/logo-w.png');transition-delay: .6s;}
  #footer address,
  #footer .sales-inquiry .inner-wrap {color:#fff;transition-delay: .6s;}
  #footer .inner-wrap .btn-sales-detail:after{border-right-color:#fff;transition-delay: .6s;}
  #footer .sales-inquiry .tel:after,
  #footer .sales-inquiry .email:after{background:#fff;transition-delay: .6s;}
  #footer .sales-inquiry .btn-copy{background:#fff;transition-delay: .6s;color:#000;}
  #footer .sales-inquiry .tel a:after{background-image:url($base-url+'/tel1-w.png');transition-delay: .6s;}
  #homeSwiper .splide .info{transform:translateY(-100%);opacity:0;transition-duration: .5s;transition-delay:0;}
  #homeSwiper .splide .splide__slider .splide__arrows button{top:60%;opacity:0;transition-delay:0;transition-duration: .5s;}
  #homeSwiper .splide .pagiation-num{top:40%;opacity:0;transition-delay:0;transition-duration: .5s;}
  #homeSwiper .splide .splide__autoplay{opacity:0;transition-delay: .6s;}
  #header #nav{background:linear-gradient(to right, #000 20%, rgba(0,0,0,0) 100%);transition-delay:.6s}
  #header #nav .nav-link{color:#fff;transition-delay:.6s}
  #header #nav .nav-link:after{border-top:1px solid #fff;}
}

.pc .home.contents .home-art3{flex:1;width:100%;height:100%}
.pc .home.contents {height:100vh}
.pc .container {height:100%}
.pc .m4a-wrap {height:100%;}

.contact.contents{
  .contact-art-wrap{position:absolute;top:200px;bottom:200px;left:180px;right:180px;display:flex;flex-flow: row-reverse;transition:all .6s ease-in-out}
  .contact-art1{position:relative;min-height:350px;
     h1{font-size:4.0rem;line-height:1.2;font-weight:bold;transition:all .6s ease-in-out}
     .eng{margin-top:20px;font-size:1.4rem;font-weight:bold;transition:all .2s ease-in-out}
     .info{font-size:1.4rem;margin-top:45px;}
     .info b{font-weight:900;display:inline-block;min-width:40px}
     .brochure{position:absolute;left:0;bottom:0px;}
     .btn-brochure{font-weight:900;font-size:1.4rem;letter-spacing:2px;display:inline-block;width:240px;padding-bottom:10px;position:relative;transition:all .6s ease-in-out;
      &:before{width:20px;height:20px;transform:skew(35deg);transform-origin:right bottom;position:absolute;right:0;bottom:0;border-right:1px solid #000;}
      &:after{height:1px;width:100%;background:#000;position:absolute;bottom:0;left:0}
     }
  }
  .contact-art2{flex:1;padding-right:40px;min-height:350px;
    .m4a-map{height:100%;width:100%;background:url($base-url+'/m4a_map.jpg') center center no-repeat;background-size:cover}
  }
}

.about.contents{
  .home-view-more{bottom:40px;}
  .art-tpl{padding:200px 100px 0px;transition:all .4s ease-in-out;;}
  .about-art1,
  .about-art2,
  .about-art3{height:100vh;min-height:$pc-max-height;position:relative;
  }

  .about-art1{background:url($base-url+'/bg_about01.jpg') center center no-repeat;background-size:cover;
    &:after{position:absolute;left:0px;top:0;width:100%;height:100%;background:url($base-url+'/bgimg_about_m4a.png') center center no-repeat;background-size:cover;animation: aboutM4a1 3s infinite;}
    &:before{position:absolute;left:0px;top:0;width:100%;height:100%;background:#fff;opacity:0.8;}
    .subject{position:absolute;z-index:1;width:100%;left:0;top:50%;text-align:center;margin-top:160px;transition:all .4s ease-in-out;
      .tit{font-size:4.8rem;font-weight:900;transition:all .4s ease-in-out;}
      .sub-txt{font-size:1.4rem;font-weight:900;letter-spacing:3px;}
    }

  }
  @keyframes aboutM4a1{
    0%{
      transform:translateY(20px);
    }
    50%{
      transform:translateY(0);
    }
    100%{
      transform:translateY(20px);
    }
  }
  .about-art2{background:url(	$base-url+'/bg_about03.jpg') center 0 no-repeat;background-size:cover;
    &:before{position:absolute;left:0;top:0;width:100%;height:100%;background:#fff;opacity:0.8;}
    .subject{position:relative;z-index:1;margin-top:30px;
      .tit{font-size:6.0rem;font-weight:900;line-height:1.1;transition:all .4s ease-in-out;}
      .sub-txt{font-size:1.6rem;margin-top:20px;max-width:790px;font-weight:bold;}
    }
    .process{margin-top:110px;display:flex;position:relative;z-index:1;transition:all .4s ease-in-out;
      .step1{flex:1}
      .step2{flex:0.9}
      .step3{flex:1.2}
      [class*=step] + [class*=step]{margin-left:50px;}
      .tit{font-size:3.0rem;font-weight:900;line-height:1.1;padding-bottom:24px;border-bottom:2px solid #000;}
      .sub-txt{margin-top:24px;font-weight:bold;font-size:1.6rem;}
    }
  }
  .about-art3{background:url($base-url+'/bg_about04.jpg') center 0 no-repeat;background-size:cover;
    &:before{position:absolute;left:0;top:0;width:100%;height:100%;background:#fff;opacity:0.8;}
    .subject{position:relative;z-index:1;text-align:center;margin-top:30px;
      .tit{font-size:6.0rem;font-weight:900;line-height:1.1;}
      .sub-txt{font-size:1.6rem;margin-top:20px;font-weight:bold;}
    }
    .process{margin-top:110px;display:flex;position:relative;z-index:1;
      .tit{font-size:1.8rem;font-weight:900;line-height:1.1;padding-bottom:15px;border-bottom:2px solid #000;white-space:nowrap;position:relative;
      &:before{height:20px;width:20px;border-right:2px solid #000;transform-origin:right bottom;position:absolute;right:0;bottom:0;transform:skew(35deg)}
      }
      .sub-txt{margin-top:15px;font-weight:bold;font-size:1.4rem;}
      .sub-txt li + li{margin-top:10px;}
      [class*=step]{flex:1;}
      [class*=step] + [class*=step]{margin-left:6%}
    }
  }
}
.works-list-sec{
  &:before{position:fixed;width:100%;height:210px;background:linear-gradient(to bottom,rgba(255,255,255,1) 65%, rgba(255,255,255,0) 100%);left:0;top:0;z-index:3;}
  &:after{position:fixed;width:100%;height:180px;background:linear-gradient(to top,rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);left:0;bottom:0;z-index:3;}
  .masonry{margin:0 auto;transition:all .4s ease-in-out;}
  .masonry.on .item{opacity:1}
  .works-list-wrap{padding:200px 100px 0px 100px;transition:all .4s ease-in-out;}
  .works-list{position:relative;}
  .section2{padding-bottom:100px;}
  .item{width:380px;margin-bottom:100px;position:relative;overflow:hidden;font-size:1.4rem;transition:opacity .8s ease-in-out;position:relative;left:0;top:0;opacity:0;
    .link-block{position:absolute;left:0;top:0;width:100%;height:100%;z-index:3;overflow:hidden;color:transparent;font-size:0;}
    .info-sec{padding:30px 10px 0px;line-height:1.3;
      .ptn{font-weight:900;}
      .name{font-size:2.8rem;font-weight:900;margin-top:9px;text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);}
      .etc{margin-top:8px;
        > b{display:inline-block;vertical-align:middle;width:80px;font-weight:900;}
      }
    }
  }
  .item.type2{height:300px;
    &:before{position: absolute;right: 10px;top: 0;width: 300px;height: 300px;border-radius: 100%;}
    .info-sec{position:absolute;width:100%;box-sizing:border-box;padding:0px 10px;top:50%;transform:translateY(-50%);z-index:2;}
  }
  .item.type4{height:150px;
    &:before{position: absolute;right: 0;top: 0;width: 300px;height: 150px;box-sizing: border-box;}
    .info-sec{position:absolute;width:100%;box-sizing:border-box;padding:0px 10px;top:50%;transform:translateY(-50%);z-index:2;}
  }
  .item.type3{padding-bottom:20px;border-bottom:2px solid #000;}
  .item.type2.n3:before{background:#7a92f1;}
  .item.type2.n6:before{background:#26a57a;}
  .item.type2.n9:before{background:#f37163;}
  .item.type2.n19:before{background: #616c97;}
  .item.type4.n10:before{border-style: solid;
    border-image: linear-gradient(125deg, #c0e7fb 0%, #b7b2f4 100%); border-width: 10px;border-image-slice: 1;}
  .item.type4.n17:before{border: 10px solid #fbd4d0;}
  .item.type2 .info-sec{width:260px;}
  .item.type3 .info-sec{width:300px;}
  .item.type4 .info-sec{width:320px;}
  .item.type3.o4 .info-sec{width:auto;}

}

//works
.works.contents{
  .art-tpl{padding:200px 0px 80px;margin:0px 180px 0px 180px;position:relative;height:100%;box-sizing:border-box;transition:all .4s ease-in-out;display:flex;justify-content: space-between;
    .sec1{width:300px;position:relative;padding-right:60px;
      .tit{font-size:1.4rem;font-weight:900;color:#2375ca;position:absolute;left:0;top:-25px;}
      .tit1{font-size:4.0rem;font-weight:bold;width:270px;line-height:1.3;padding-top:35px;}
      .paging{position:relative;font-size:1.6rem;margin-top:30px;
      &:after{width: 30px; height: 100px;position:absolute;left:2px;top:70px;background:url($base-url+'/bg_work_scroll.png') no-repeat}
        > span:first-child{font-weight:900;}
        > span:nth-child(2){margin:0px 10px;}
      }

    }
    .sec2{flex:1;position:relative;justify-content: flex-end;display:flex;flex-direction: column;padding-bottom:20px;
      .para-sec{font-size:1.6rem;flex:0.4;padding-top:35px;padding-bottom:20px;box-sizing:border-box;}
      .img-sec{flex:1.6}
      .img-sec img{min-width:600px;}
    }
  }
  .work-btm-fixed{width:100%;position:fixed;bottom:0;left:0;height:80px;display:flex;box-sizing:border-box;padding:0px 100px;justify-content: space-between;z-index:3;background:rgba(255,255,255,0.1);align-content: center;align-items: center;font-weight: 900;color: #000;transition:all .4s ease-in-out;border-top:1px solid rgba(0,0,0,0.1);
    &:before{position:absolute;top:0;left:0;width:100%;height:1px;background:rgba(255,255,255,0.2)}
    a{display:inline-block;vertical-align:middle;transition:all .2s ease-in-out;}
    a:hover{transform:scale(1.2);}
    .app-group{flex:1;font-size:1.6rem;transition:all .4s ease-in-out;
      .app1{padding-left: 21px;background: url($base-url+'/logo_app_store.png') no-repeat 0 4px;}
      .app2{padding-left: 22px;background: url($base-url+'/logo_google_play.png') no-repeat 0 4px;}
      .col{width:1px;height:10px;color:transparent;overflow:hidden;position:relative;top:0px;margin:0px 40px;background:#000;line-height:0;display:inline-block;transition:all .4s ease-in-out;}
    }
    .ctrl-group{flex:1;text-align:right;font-size:1.4rem;
      .prev{display:inline-block;padding-left:25px;padding-right:10px;padding-bottom:3px;position:relative;
        &:before{width:10px;height:10px;transform-origin:left bottom;border-left:1px solid #000;transform:skew(-35deg);position:absolute;left:0;bottom:0;}
        &:after{width:100%;height:1px;background:#000;position:absolute;left:0;bottom:0;}
      }
      .next{display:inline-block;padding-right:25px;padding-left:10px;padding-bottom:3px;position:relative;
        &:before{width:10px;height:10px;transform-origin:right bottom;border-right:1px solid #000;transform:skew(35deg);position:absolute;right:0;bottom:0;}
        &:after{width:100%;height:1px;background:#000;position:absolute;right:0;bottom:0;}
      }
      .list{display:inline-block;overflow:hidden;width:18px;height:18px;background:url($base-url+'/bg_list02.png') center center no-repeat;color:transparent;margin:0 80px;}
    }
  }
  .works-art1{
    .subject{text-align:center;position:relative;height:100%;transition:all .4s ease-in-out;
      .pos-a{position:absolute;top:50%;width:100%;transform:translateY(-70%);padding-top:40px;}
      .tit{font-size:6.0rem;font-weight:900;display:inline-block;position:relative;
        &:after,
        &:before{width: 2px;height: 30px;background: #000;transform: rotate(30deg) translateY(-50%);position:absolute;top:50%;left:-55px;}
        &:after{left:auto;right:-40px;}
      }
      .sub-txt{position:absolute;width:100%;left:0;top:0px;font-size:1.4rem;font-weight:900;
        span{display:inline-block;vertical-align:middle;min-width:67px;text-align:left;}
        .plus{margin:0px 20px;min-width:0;font-weight:normal;font-size:2.0rem;}
      }
    }
    .info{position:absolute;left:100px;bottom:200px;z-index:2;font-size:1.4rem;transition:all .4s ease-in-out;
      > div + div{margin-top:15px;}
      b{font-weight:900;width:80px;display:inline-block;}
    }
    .sec1{height:37%;box-sizing:border-box;padding:200px 100px 0px;}
    .sec2{height:63%;min-height:408px;position:relative;}
  }
  .works-art4{
    .tit-group-wrap{position:relative;height:190px;}
    .tit-group{position:absolute;top:0;left:0;z-index:2;transition:all .4s ease-in-out;}
    .tit1{position:absolute;left:0;top:0;margin-top:20px;opacity:0;transition:all .4s ease-in-out;}
    .s-txt{position: absolute;display:flex;left: 267px;top: -18px;height: 50px;padding: 0 30px;background: #000;border-radius: 15px;font-size: 14px;color: #fff;text-align: center;align-items: center;white-space:nowrap;margin-top:0px;opacity:0;transition:all .4s ease-in-out;transform:translateX(-50%);
      &:after{position: absolute;left: 50%;top: 46px;width: 10px;height: 10px;background: #000;transform: rotate(45deg) translateX(-50%);}
    }
    .tit-group.on .tit1{opacity:1;margin-top:0;}
    .tit-group.on .s-txt{opacity:1;animation-delay:1.5s;animation:bounce 1s ease-in-out;}
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {margin-top:0px}
      40% {margin-top:-14px}
      60% {margin-top:-7px}
    }
  }
  // #splide1 > .splide__track > .splide__list > .splide__slide:not(.works-art1){opacity:0;transition:all .6s ease-in-out;}
  // #splide1 > .splide__track > .splide__list > .splide__slide .art-tpl{transform:translateY(120px); transition:all .6s ease-in-out;}
  // #splide1 > .splide__track > .splide__list > .splide__slide.is-active{opacity:1;}
  // #splide1 > .splide__track > .splide__list > .splide__slide.is-active .art-tpl{transform:translateY(0px)}
  .splide__slide{height:100vh;min-height:680px;}
  .splide__track{min-height:680px;}
  .splide__slide .splide__slide{height:auto;min-height:0;}
  .splide__slide .splide__track{min-height:0px;}
  .splide--ttb>.splide__arrows .splide__arrow{width:30px;height:40px;transform:translate(0);left:auto;right: 13px;bottom:auto;top:50%;transition:all .4s ease-in-out;}
  .splide--ttb>.splide__pagination{right:20px;}
  .splide__pagination__page.is-active{background:#000}
  .splide--ttb>.splide__arrows .splide__arrow:hover:after{transform:scale(1.2)}
  .splide--ttb>.splide__arrows .splide__arrow--prev{margin-top:-100px;}
  .splide--ttb>.splide__arrows .splide__arrow--prev:after{position:absolute;right:9px;bottom:0;width: 0px;height: 0px;border: 6px solid transparent;border-bottom: 10px solid #000;transition:all .4s ease-in-out;}
  .splide--ttb>.splide__arrows .splide__arrow--next:after{position:absolute;right:9px;top:0;width: 0px;height: 0px;border: 6px solid transparent;border-top: 10px solid #000;transition:all .4s ease-in-out;}
  .splide--ttb>.splide__arrows .splide__arrow:disabled{opacity:0.2;}
  .splide--ttb>.splide__arrows .splide__arrow--next{margin-top:60px;}
  .splide--ttb>.splide__arrows .splide__arrow svg{display:none;}
  .splide-line{position:absolute;;top:-1px;left:0;width:0%;height:2px;background:#f37163;z-index:5;transition:all .4s ease-in-out}

  .detail1{
    .works-art1 .img-sec{background:#2571cb url($base-url+'/bg_work_detail01.png') center -50px no-repeat;background-size:cover;}
    .splide2-wrap{position:absolute;left:-94px;top:36px;width:225px;padding:14px;z-index:2;box-shadow: 3px 10px 100px #b8c5db;border-radius:28px;}
    .splide2-wrap:after{position: absolute; left:0;top:0;width:100%;height: 515px;background: url($base-url+'/bg_device_mobile.png') no-repeat 0 0;z-index: 2;}
    .splide2-wrap .splide{border-radius:15px;overflow:hidden;}
    #splide2{height:auto;position:relative;z-index:4;}
    #splide2 .splide__arrows,
    #splide3 .splide__arrows,
    #splide2 .splide__pagination,
    #splide3 .splide__pagination{display:none;}
    .works-art4 .s-txt{left: 388px;top: -30px;}
    .splide3-wrap{width: 880px;position:absolute;top:-34px;left:196px;padding:23px  24px;box-shadow: 3px 10px 100px #b8c5db;border-radius:32px;}
    .splide3-wrap:after{position: absolute;left:0;top:0;width: 100%;height: 586px;background: url($base-url+'/bg_device_pc.png') no-repeat 0 0;background-size:100% auto;}
    .splide3-wrap .txt{position:absolute;}
    #splide3{position:relative;z-index:3;width:100%;overflow:hidden;}
  }
  .detail1{
    .works-art4.type2 .splide__arrow{opacity:1}
    .works-art4.type2 .splide__arrow--prev{left:271px;}
    .works-art4.type2 .splide__arrow--next{right:-355px;}
    .works-art4.type2 .splide__arrow svg{width:20px;height:20px;fill:#000;}
    .works-art4.type2 .splide__pagination{bottom:-12px;opacity:1;}
    .works-art4.type2 .splide__pagination__page{width:5px;height:5px;}
    .works-art4.type2 .symbol{position:absolute;left:-180px;top:400px}
    .works-art4.type2 .s-txt{left:394px;top:-70px;}
    .works-art4.type2 .art-tpl{margin-right:0;padding-bottom:0;}
    .works-art4.type2 .art-tpl .sec2{justify-content: flex-start;}
    .works-art4.type2 .sec2 .bg{width:268px;height:550px;position:absolute;left:-100px;top:0;box-shadow: 3px 10px 40px #b8c5db;border-radius:44px;}
    .works-art4.type2 .splide4-wrap{width:240px;padding:14px;position:relative;}
    .works-art4.type2 .raoud-overflow {position:absolute;left:0;top:0;width:calc(100vw - 300px);border-radius:44px;overflow:hidden;margin-left:-100px;}
    .works-art4.type2 .splide4-wrap .splide__track{overflow:visible;}
    .works-art4.type2 .splide4-wrap .splide__track:before{background:url($base-url+'/bg_device_mobile02.png') 0 0 no-repeat;background-size:100% auto;width:100%;height:100%;position:absolute;left:-15px;top:-14px;padding:14px;z-index:2;}
    .works-art4.type2 .splide4-wrap .splide__slide{margin-right:70px;}

  }
  .detail1 .works-art1 .img-sec.prj2{background:#f0f1f6 url($base-url+'/bg_work_detail02.png') center bottom no-repeat;background-size:cover;}
  .detail1 .works-art1 .img-sec.prj3{background:#755de9 url($base-url+'/bg_work_detail05.png') center bottom no-repeat;background-size:cover;}
  .detail1 .works-art1 .img-sec.prj4{background:#86c url($base-url+'/bg_work_detail03.png') center top no-repeat;background-size:cover;}
  .detail1 .works-art1 .img-sec.prj5{background:#86c url($base-url+'/bg_work_detail04.png') center top no-repeat;background-size:cover;}
}

.home-layer{position:fixed;top:164px;left:101px;z-index:30;width:400px;height:523px;box-sizing:border-box;box-shadow:2px 2px 30px rgba(0,0,0,0.3);background:#fff;transition:all .4s ease-in-out;display:none;
  .pop-conts{padding:35px;}
  .pop-conts .pop-head{padding:13px 6px 22px;border-bottom:1px solid #d1d1d1;margin-bottom:11px}
  .pop-conts .pop-head .tit{font-size:3.0rem}
  .pop-conts .pop-head .para{font-size:1.6rem;margin-top:3px}
  .pop-conts .pop-body{padding:13px 6px 0px}
  .pop-conts .p-tit1{font-size:1.8rem;}
  .pop-conts ul.p-txt1 > li,
  .pop-conts .p-txt1{font-size:1.6rem;padding-left:10px;position:relative;}
  .pop-conts ul.p-txt1{padding:0;}
  .pop-conts .p-tit1 > span{position:relative;display:inline-block;}
  .pop-conts .p-tit1 > span:before{width:calc(100% + 4px);height:13px;background:#caf5f1;position:absolute;bottom:2px;left:-2px;z-index:-1;}
  .pop-conts ul.p-txt1:after{display:none;}
  .pop-conts ul.p-txt1 > li:before,
  .pop-conts .p-txt1:before{position:absolute;width:3px;height:3px;background:#999;left:0;top:0;border-radius:100%;left:2px;top:11px;}
  .pop-conts .p-tit1 + .p-txt1{margin-top:5px;}
  .pop-conts .p-txt1 + .p-tit1{margin-top:20px}
  .pop-conts .btn-area{text-align:center;margin-top:26px;}
  .pop-conts .btn-pop1{display:inline-flex;padding:0px 20px;text-align:center;border:1px solid #72dfd6;height:50px;font-size:1.7rem;font-weight:bold;color:#24c2b6;align-items: center}
  .pop-foot{padding:8px 17px;text-align:right;font-size:1.5rem;background:#f1f1f1;}
  .pop-foot .pop-close2{padding-right:25px;position:relative;}
  .pop-foot .pop-close2:before{position: absolute;width: 20px;height: 1px;background: #666;right: 0;transform: rotate(45deg);top: 45%;}
  .pop-foot .pop-close2:after{position: absolute;width: 20px;height: 1px;background: #666;right: 0;transform: rotate(-45deg);bottom: 50%;}
  .pop-close1{width:30px;height:30px;position:relative;position:absolute;right:20px;top:25px;}
  .pop-close1:before{position: absolute;width: 130%;height: 1px;background: #666;right: 0;transform: rotate(45deg);top: 45%;}
  .pop-close1:after{position: absolute;width: 130%;height: 1px;background: #666;right: 0;transform: rotate(-45deg);bottom: 50%;}
}


@include pcMaxHeight1{
  body.pc #header #nav > ul{top:180px;transform:translateY(0)}
  body.pc .m4a-wrap{min-height:$pc-max-height;position:relative;}
  body.pc #footer address{position:absolute;}
  body.pc .about.contents .about-art1 .subject{margin-top:120px;}
  .about.contents .about-art1 .subject .tit{font-size:2.8rem;}
}

@include device3{
  html{zoom:0.6}
}