@import "_variables";
@include device1{
  #header .btn-nav{left:50px;top:53px;}
  #header #logo{top:50px;left:100px;}
  #header #nav > ul{left:100px;transform:translateY(-75%)}
  #header #nav .nav-link:before{left:300px;width:calc(100vw - 410px);background-position:center center !important;background-size:auto 100% !important;}
  #header #nav .nav-link:hover:before{left:260px;}

  #footer .sales-inquiry{right:50px;top:50px;}
  #footer address{left:50px;bottom:50px;}

  #homeSwiper .splide .info .contract{font-size:5.2rem;line-height:1.1}
  #homeSwiper .splide .info .contract > span{margin:0 100px;}
  #homeSwiper .splide .info .contract > span:before,
  #homeSwiper .splide .info .contract > span:after{opacity:0;}

  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev{left:40px;}
  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev:hover{left:50px;}
  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next{right:40px;}
  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next:hover{right:50px;}
  #homeSwiper .splide .splide__autoplay{right:40px;bottom:40px;}
  .home-view-more{bottom:80px;}
  .home-view-more .ani-arrow{height:80px;}
  .home-art2 .prj-list{width:auto;left:50px;right:50px;top:200px;transform:translate(0,0);}
  .home-art2 .prj-list > ul > li{margin-bottom:30px;}
  .home-art2 .prj-list > ul > li:nth-child(odd){margin-right:0;}
  .home-art2 .prj-list > ul > li:nth-child(even){width:50%;}
  .home-art2 .prj-list > ul > li .txt2{font-size:2.4rem}
  #homeSwiper .splide .info .detail{bottom:-60px;}

  .contact.contents{
    .contact-art-wrap{right:100px;left:100px;top:150px;bottom:150px;}
    .contact-art1{width:200px;
      h1{font-size:2.0rem;transition:all .0s ease-in-out}
      .eng{font-size:1.2rem;}
      .btn-brochure{font-size:1.2rem;width:200px;}
    }
  }
  .about.contents .art-tpl{padding:150px 50px 0px;}
  .about.contents .about-art2 .process{margin-top:100px;}
  .about.contents .about-art3 .process{margin-top:80px;}
  .about.contents .about-art3 .subject {text-align:left;}
  .about.contents .about-art1 .subject .tit,
  .about.contents .about-art2 .subject .tit,
  .about.contents .about-art3 .subject .tit{font-size:3.5rem;}
  .about.contents .about-art2 .process .tit{font-size:2.0rem;}
  .about.contents .about-art3 .process .tit{font-size:1.6rem}
  .about.contents .about-art3 .process{flex-wrap: wrap;}
  .about.contents .about-art3 .process [class*=step]{width:29%;flex:none;;box-sizing:border-box;}
  .about.contents .about-art3 .process [class*=step] li + li{margin-top:5px;}
  .about.contents .about-art3 .process .step4{margin-left:0 !important;}
  .about.contents .about-art3 .process .step4,
  .about.contents .about-art3 .process .step5{margin-top:30px;}

  .works-list-sec{
    &:before{height:130px;}
    &:after{height:120px;}
    .works-list-wrap{padding:150px 50px 0px;}
    .item{width:calc(50vw - 85px);}

  }
  //works
  .works.contents{
    .works-art1{
      .sec1{height:50%;padding:200px 50px 0px;}
      .info{left:50px;bottom:50%;margin-bottom:40px;}
      .subject{height:100px;}
      .sec2{height:50%}
    }
    .work-btm-fixed{height:60px;padding:0px 50px;background:rgba(255,255,255,0.2);text-shadow: 1px 1px 4px rgba(255,255,255,0.6);
      .app-group{font-size:1.4rem;
        .col{margin:0px 20px;}
      }
      .ctrl-group .list{margin:0px 20px;}
    }
    .art-tpl{padding:120px 0px 80px;margin:0px 50px;flex-direction: column;justify-content:flex-start;
      .sec1{width:auto;
        .tit{position:static;}
        .tit1{width:auto;padding-top:20px;font-size:3.5rem;
          br{display:none;}
        }
        .paging{margin-top:20px;font-size:1.2rem;
        &:after{display:none;}
        }
      }
      .sec2{flex:none;
        .para-sec{padding:30px 0px 30px;}
      }
    }
    .splide--ttb > .splide__pagination{right:12px;}
    .splide--ttb > .splide__arrows .splide__arrow{right:5px;}

    .works-art4{
      .tit-group-wrap{height:65px;z-index:5}
      .tit-group{width:100%;}
    }
    .detail1 {
      .works-art4 .s-txt{left:145px;top:140px;}
      .splide2-wrap{left:50px;width:170px;top:100px;z-index:4;box-shadow:-10px 10px 20px #b8c5db;padding:10px;}
      .splide2-wrap .splide{border-radius:10px;}
      .splide2-wrap:after{height:450px;background-size:100% auto;}
      .splide3-wrap{width:680px;left:auto;right:0px;top:0px;z-index:3;padding:18px}
    }
    .detail2{
      .works-art4 .splide__arrow--prev{left:242px;}
      .works-art4 .splide__arrow--next{right:-326px;}
      .works-art4 .sec2 .bg{width:234px;height:480px;left:100px;top:40px;}
      .works-art4 .s-txt{left:220px;top:84px;}
      .works-art4 .symbol{left:18px;top:400px;}
      .splide4-wrap{width:210px;padding:12px;}
      .raoud-overflow{margin-left:0;width:calc(100vw - 150px);left:100px;margin-top:40px;border-radius:37px 0px 0px 37px;}
      .splide4-wrap .splide__track:before{padding:12px;left:-13px;top:-12px;}
    }
  }
}
