@charset "UTF-8";
@font-face { font-family: Roboto; font-weight: 100; src: local(※), url(/fonts/Roboto-Regular.woff) format("woff"); }

@font-face { font-family: Roboto; font-weight: 400; src: local(※), url(/fonts/Roboto-Medium.woff) format("woff"); }

@font-face { font-family: Roboto; font-weight: 700; src: local(※), url(/fonts/Roboto-Bold.woff) format("woff"); }

@font-face { font-family: 'NanumSquareRound'; font-weight: 100; src: url(/fonts//NanumSquareRoundL.woff2) format("woff2"), url(/fonts/d/NanumSquareRoundL.woff) format("woff"); }

@font-face { font-family: 'NanumSquareRound'; font-weight: 400; src: url(/fonts//NanumSquareRoundR.woff2) format("woff2"), url(/fonts/d/NanumSquareRoundR.woff) format("woff"); }

@font-face { font-family: 'NanumSquareRound'; font-weight: 700; src: url(/fonts//NanumSquareRoundB.woff2) format("woff2"), url(/fonts/d/NanumSquareRoundB.woff) format("woff"); }

@font-face { font-family: 'NanumSquareRound'; font-weight: 900; src: url(/fonts//NanumSquareRoundEB.woff2) format("woff2"), url(/fonts/d/NanumSquareRoundEB.woff) format("woff"); }

@font-face { font-family: 'NanumSquare'; font-weight: 100; src: url(/fonts/d/NanumSquareL.woff) format("woff"); }

@font-face { font-family: 'NanumSquare'; font-weight: 400; src: url(/fonts/d/NanumSquareR.woff) format("woff"); }

@font-face { font-family: 'NanumSquare'; font-weight: 700; src: url(/fonts/d/NanumSquareB.woff) format("woff"); }

@font-face { font-family: 'NanumSquareR'; font-weight: 900; src: url(/fonts/d/NanumSquareEB.woff) format("woff"); }

#skipNav { position: absolute; top: 0; left: 0; width: 100%; }

#skipNav a { position: relative; display: block; opacity: 0; text-align: center; font-weight: bold; color: #fff; background: rgba(0, 0, 0, 0.6); height: 0; transition: all .6s; }

#skipNav a:focus { opacity: 1; z-index: 1000; padding: 10px 0px; height: auto; }

#skipNav a:hover { text-decoration: underline; }

body { font-size: 1.4rem; color: #000; }

body.pc { min-height: 640px; }

#header { position: fixed; z-index: 10; }

#header #logo { width: 80px; height: 25px; position: absolute; left: 180px; top: 100px; z-index: 10; transition: all .6s ease-in-out; overflow: hidden; }

#header #logo:after { height: 100%; width: 60px; transform: skew(-30deg); position: absolute; left: -30px; bottom: 0; transform-origin: left bottom; background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.8) 50%, transparent 100%); animation: aniLogo 18s ease-in-out infinite; }

@keyframes aniLogo { 0% { left: -80px; }
  40% { left: -80px; }
  50% { left: 80px; }
  100% { left: 80px; } }

#header #logo > a { display: block; height: 100%; width: 100%; background: url("/images/logo.png") 0 0 no-repeat; background-size: 100% auto; overflow: hidden; color: transparent; font-size: 0.6rem; transition: all .6s ease-in-out; }

#header .btn-nav { width: 25px; height: 16px; position: absolute; left: 101px; top: 104px; overflow: hidden; font-size: 0; z-index: 10; transition: all .6s ease-in-out; }

#header .btn-nav:before, #header .btn-nav:after, #header .btn-nav span { content: ''; position: absolute; width: 100%; height: 2px; background: #000; right: 0; top: 50%; transform: translateY(-50%); transition: all .6s ease-in-out; }

#header .btn-nav:before { top: 0; transform: translateY(0%); }

#header .btn-nav:after { content: '열기'; top: auto; bottom: 0; transform: translateY(0%); }

.pc #header .btn-nav:hover:before { width: 60%; right: -1px; transform: rotate(45deg); top: 1px; }

.pc #header .btn-nav:hover:after { width: 60%; right: -1px; transform: rotate(-45deg); bottom: 1px; }

#header .btn-nav.on:before { transform: rotate(45deg); top: 45%; }

#header .btn-nav.on:after { transform: rotate(-45deg); bottom: 45%; }

#header .btn-nav.on span { opacity: 0; }

.pc #header .btn-nav.on:hover:before { width: 60%; right: 11px; transform: rotate(-45deg); top: 1px; }

.pc #header .btn-nav.on:hover:after { width: 60%; right: 11px; transform: rotate(45deg); bottom: 1px; }

.pc #header .btn-nav.on:hover span { opacity: 1; }

#header #nav { width: 100%; height: 100vh; min-height: 640px; background: linear-gradient(to right, #fff 30%, transparent); position: fixed; left: -100%; top: 0; transition: all .6s ease-in-out; overflow: hidden; opacity: 0; }

.pc #header #nav { min-height: 640px; }

#header #nav a { font-weight: 900; font-size: 4rem; }

#header #nav > ul { position: absolute; top: 50%; left: 180px; right: 180px; transform: translateY(-60%); transition: all .6s ease-in-out; }

#header #nav .nav-item + .nav-item { margin-top: 68px; }

#header #nav .nav-link { position: relative; transition: all .6s ease-in-out; }

#header #nav .nav-link:after { content: ''; height: 2px; width: 0px; background: #000; position: absolute; bottom: -20px; left: 0; transition: all .6s ease-in-out; }

#header #nav .nav-link:before { content: ''; position: absolute; left: 500px; max-width: 900px; height: 440px; transition: all .6s ease-in-out; opacity: 0; pointer-events: none; border-radius: 10px; width: calc(100vw - 580px); }

#header #nav .nav-item:nth-child(1) .nav-link:before { background: url("/images/pic_project01.jpg") center 0 no-repeat; background-size: auto 100%; }

#header #nav .nav-item:nth-child(2) .nav-link:before { background: url("/images/pic_project02.jpg") center 0 no-repeat; background-size: auto 100%; top: -136px; }

#header #nav .nav-item:nth-child(3) .nav-link:before { background: url("/images/pic_project03.jpg") center 0 no-repeat; background-size: auto 100%; top: -264px; }

#header #nav .nav-link:hover:after { width: 520px; }

#header #nav .nav-link:hover:before { opacity: 1; left: 300px; }

#header.on #nav { left: 0; opacity: 1; }

#footer address { position: fixed; left: 100px; bottom: 90px; font-size: 1.2rem; z-index: 20; transition: all .6s ease-in-out; }

#footer .sales-inquiry { position: fixed; right: 100px; top: 100px; font-size: 1.2rem; text-align: right; font-weight: bold; z-index: 20; transition: all .6s ease-in-out; overflow: hidden; }

#footer .sales-inquiry .btn-copy { padding: 0 12px; height: 18px; line-height: 18px; border-radius: 9px; background-color: #000; font-size: 1rem; color: #fff; font-weight: bold; position: absolute; right: 5px; top: 0px; padding-top: 1px; transition: all .6s ease-in-out; }

#footer .sales-inquiry .tit { position: absolute; left: 10px; top: 0; font-weight: 900; }

#footer .sales-inquiry .email { padding-left: 80px; padding-right: 75px; padding-bottom: 5px; display: block; position: relative; }

#footer .sales-inquiry .tel { position: relative; display: inline-block; padding: 0px 5px 5px 10px; margin-top: 20px; }

#footer .sales-inquiry .tel a { position: relative; padding-right: 25px; }

#footer .sales-inquiry .tel a:after { content: ''; width: 18px; height: 18px; position: absolute; right: 0; top: -2px; background: url("/images/tel1.png") 0 0 no-repeat; background-size: 100% auto; transition: all .6s ease-in-out; }

#footer .sales-inquiry .brochure { display: none; }

#footer .sales-inquiry .tel:after, #footer .sales-inquiry .email:after { content: ''; height: 1px; background: #000; position: absolute; bottom: 0; width: 100%; right: 0; transition: all .6s ease-in-out; }

#footer .btn-sales-detail { position: absolute; left: 0; top: 0; z-index: 10; width: 60px; height: 20px; }

#footer .sales-inquiry .inner-wrap { position: relative; left: 195px; transition: all .6s ease-in-out; }

#footer .sales-inquiry .inner-wrap.on { left: 0; }

#footer .inner-wrap .btn-sales-detail:after { content: ''; position: absolute; height: 0; width: 0; border: 5px solid transparent; border-left: 0; border-right-color: #000; border-top-width: 4px; border-bottom-width: 4px; left: 0; top: 50%; transform: translateY(-50%); margin-top: -2px; transition: all .6s ease-in-out; }

#footer .inner-wrap.on .btn-sales-detail:after { transform: rotate(180deg) translateY(50%); }

.home.contents { display: flex; flex-direction: column; flex-flow: column-reverse; align-items: center; height: 100vh; overflow: hidden; position: relative; }

.home-art1 { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; }

.home-art1 .home-subject { display: none; }

.home-view-more { position: absolute; left: 50%; bottom: 65px; font-size: 1.5rem; font-weight: 900; z-index: 2; }

.home-view-more .btn-home-more { display: block; margin-left: 20px; }

.home-view-more .ani-arrow { width: 18px; height: 100px; position: absolute; left: -18px; bottom: 0; border-right: 1px solid #000; animation: moveDown 1s ease-in-out infinite; }

.home-view-more .ani-arrow:before { width: 20px; height: 20px; border-bottom: 1px solid #000; position: absolute; bottom: 0; right: 0; transform: rotate(35deg); transform-origin: bottom right; }

.home-view-more.on .ani-arrow:before { bottom: auto; top: 0; transform: rotate(-35deg); transform-origin: top right; border-top: 1px solid #000; border-bottom: 0; }

@keyframes moveDown { 0% { bottom: -10px; }
  50% { bottom: 0px; }
  100% { bottom: -10px; } }

.home-art2 { position: fixed; width: 100%; height: 100%; left: 0; top: 100%; background: rgba(0, 0, 0, 0.7); box-sizing: border-box; z-index: 5; color: #fff; transition: all .8s ease-in-out; opacity: 1; border-radius: 30px; }

.home-art2.on { top: 0; }

.home-art2 .prj-list { position: absolute; left: 50%; right: 180px; top: 50%; transform: translate(-50%, -50%); width: 1000px; }

.home-art2 .prj-list > ul { display: flex; flex-wrap: wrap; }

.home-art2 .prj-list > ul > li { box-sizing: border-box; margin-bottom: 60px; transition: all .6s ease-in-out; }

.home-art2 .prj-list > ul > li:nth-child(even) { width: 45%; }

.home-art2 .prj-list > ul > li:nth-child(odd) { width: 50%; margin-right: 5%; }

.home-art2 .prj-list > ul > li:nth-last-child(2) { margin-bottom: 0; }

.home-art2 .prj-list > ul > li:nth-last-child(1) { margin-bottom: 0; }

.home-art2 .prj-list > ul > li .item { display: inline-block; line-height: 1.2; opacity: 1; transition: all .6s ease-in-out; position: relative; }

.home-art2 .prj-list > ul > li .item:before { content: ''; height: 1px; width: 0; background: #fff; position: absolute; bottom: -15px; left: 0; transition: all .6s ease-in-out; }

.home-art2 .prj-list > ul > li .item:after { content: ''; }

.home-art2 .prj-list > ul > li a.item:hover { opacity: 1; }

.home-art2 .prj-list > ul > li a.item:hover:before { width: calc(100% + 30px); }

.home-art2 .prj-list > ul > li .txt1 { font-size: 1.6rem; font-weight: bold; }

.home-art2 .prj-list > ul > li .txt2 { font-size: 2.8rem; font-weight: 900; word-break: break-word; margin-top: 10px; transition: all .6s ease-in-out; }

.home-art2 .prj-list > ul > li .btn-all-project { display: inline-block; font-weight: bold; font-size: 1.6rem; position: relative; width: 300px; padding-bottom: 10px; border-bottom: 1px solid #fff; margin-top: 20px; transition: all .6s ease-in-out; }

.home-art2 .prj-list > ul > li .btn-all-project:before { width: 10px; height: 20px; transform: skew(35deg); position: absolute; right: 5px; bottom: -1px; border-right: 2px solid #fff; }

.home-art2 .prj-list > ul > li .btn-all-project:hover { transform: scale(1.1); }

#homeSwiper .splide { height: 100%; }

#homeSwiper .splide .splide__slider { position: relative; height: 100%; }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev { left: 90px; text-align: right; }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev:before { content: ''; width: 15px; height: 15px; border-left: 1px solid #000; position: absolute; left: 8px; bottom: 0; transform: skew(-45deg); }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev:after { content: 'PREV'; }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next { right: 90px; text-align: left; }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next:after { content: 'NEXT'; }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next:before { content: ''; width: 15px; height: 15px; border-right: 1px solid #000; position: absolute; right: 8px; bottom: 0; transform: skew(45deg); }

#homeSwiper .splide .splide__slider .splide__arrows button { border-bottom: 1px solid #000; width: 100px; padding: 2px 5px; font-size: 1.6rem; margin-top: -23px; transition: all .6s ease-in-out; opacity: 1; transition-delay: .3s; }

#homeSwiper .splide .splide__slider .splide__arrows svg { display: none; }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev:hover { font-weight: 900; left: 100px; transition-delay: 0s; transition: all .6s; }

#homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next:hover { font-weight: 900; right: 100px; transition-delay: 0s; transition: all .6s; }

#homeSwiper .splide .splide__slider .splide__track { height: 100%; }

#homeSwiper .splide .splide__slider .splide__track .splide__list { height: 100%; }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide { position: absolute; left: 0; top: 0; opacity: 0; width: 100%; height: 100%; background: url(http://www.m4a.co.kr/m4a_2019/images/common/logo_m4a.png) center center no-repeat; background-size: cover; transition: opacity .8s ease-in-out !important; pointer-events: none; z-index: 0; }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.is-active { transition: opacity 1s ease-out !important; z-index: 5; pointer-events: auto; }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.is-active { opacity: 1; }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item1 { background-image: url(http://www.m4a.co.kr/m4a_2019/images/prj/prj01/pic_project.jpg); }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item2 { background-image: url(http://www.m4a.co.kr/m4a_2019/images/prj/prj02/pic_project.jpg); }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item3 { background-image: url(http://www.m4a.co.kr/m4a_2019/images/prj/prj03/pic_project.jpg); }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item4 { background-image: url(http://www.m4a.co.kr/m4a_2019/images/prj/prj04/pic_project.jpg); }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item5 { background-image: url(http://www.m4a.co.kr/m4a_2019/images/prj/prj05/pic_project.jpg); }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item6 { background-image: url(http://www.m4a.co.kr/m4a_2019/images/prj/prj06/pic_project.jpg); }

#homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide:before { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #fff; opacity: 0.6; }

#homeSwiper .splide .splide__progress { position: fixed; z-index: 4; width: 100%; top: 0; left: 0; }

#homeSwiper .splide .splide__progress .splide__progress__bar { height: 2px; background: #000; }

#homeSwiper .splide .splide__autoplay { position: absolute; z-index: 4; right: 85px; bottom: 80px; transition: all .6s ease-in-out; opacity: 1; }

#homeSwiper .splide .splide__autoplay button { display: inline-block; width: 40px; height: 40px; color: transparent; position: relative; transition: all .6s ease-in-out; }

#homeSwiper .splide .splide__autoplay button:hover { transform: scale(1.6); }

#homeSwiper .splide .splide__autoplay .splide__play:after { content: ''; position: absolute; height: 0; width: 0; border: 8px solid transparent; border-right: 0; border-left-color: #000; border-top-width: 6px; border-bottom-width: 6px; left: 50%; top: 50%; transform: translate(-50%, -50%); margin-left: 2px; }

#homeSwiper .splide .splide__autoplay .splide__pause:before, #homeSwiper .splide .splide__autoplay .splide__pause:after { content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); margin-left: -4px; height: 11px; width: 3px; background: #000; }

#homeSwiper .splide .splide__autoplay .splide__pause:after { margin-left: 4px; }

#homeSwiper .splide .splide__autoplay .splide__play { display: none; }

#homeSwiper .splide .splide__autoplay.on .splide__pause { display: none; }

#homeSwiper .splide .splide__autoplay.on .splide__play { display: block; }

#homeSwiper .splide .splide__pagination { position: fixed; bottom: 0; width: 100%; left: 0; transform: translate(0, 0); display: flex; }

#homeSwiper .splide .splide__pagination > li { flex: 1; }

#homeSwiper .splide .splide__pagination .splide__pagination__page { width: 100%; height: 2px; border-radius: 0; background: #fff; opacity: 0.2; padding: 0; margin: 0; z-index: 0; position: relative; transition: all .6s ease-in-out; }

#homeSwiper .splide .splide__pagination .splide__pagination__page.is-active { background: #000; opacity: .8; transform: scale(1.2); z-index: 1; }

#homeSwiper .splide .pagiation-num { position: absolute; left: 50%; top: 50%; z-index: 3; font-size: 1.6rem; font-weight: bold; margin-top: 160px; transform: translate(-50%, -50%); transition: all .6s ease-in-out; transition-delay: .3s; opacity: 1; width: 100px; text-align: center; }

#homeSwiper .splide .pagiation-num > b { font-weight: 900; }

#homeSwiper .splide .pagiation-num > span { margin: 0px 6px; }

#homeSwiper .splide .info { text-align: center; position: absolute; width: 100%; top: 50%; left: 0; transform: translateY(-50%); margin-top: -55px; opacity: 1; transition: all .6s ease-in-out; transition-delay: .3s; }

#homeSwiper .splide .info .contract { font-size: 6.0rem; font-weight: 900; line-height: 1; margin-top: 30px; padding: 0px 50px; }

#homeSwiper .splide .info .contract > span { display: inline-block; position: relative; position: relative; margin: 0px 250px; }

#homeSwiper .splide .info .contract > span:before, #homeSwiper .splide .info .contract > span:after { content: '/'; font-size: 30px; position: absolute; left: -40px; top: 50%; transform: translateY(-50%); font-weight: bold; }

#homeSwiper .splide .info .contract > span:after { left: auto; right: -40px; }

#homeSwiper .splide .info .partner { font-size: 1.6rem; font-weight: 900; }

#homeSwiper .splide .info .partner > span { text-align: left; display: inline-block; vertical-align: middle; min-width: 63px; }

#homeSwiper .splide .info .partner .plus { font-size: 2.0rem; font-weight: normal; margin: 0px 20px; position: relative; min-width: 0; }

#homeSwiper .splide .info .detail { width: 100%; position: absolute; left: 0; bottom: -70px; }

#homeSwiper .splide .info .detail > a { display: inline-block; padding: 10px; padding-right: 0; font-weight: 900; letter-spacing: 12px; font-size: 1.5rem; transition: all .2s ease-in-out; position: relative; }

#homeSwiper .splide .info .detail > a:hover { transform: scale(1.15); }

#homeSwiper .splide .info .detail > a:before { content: ''; width: 100%; height: 100%; background: #fff; border-radius: 30px; position: absolute; left: -30px; top: -5px; z-index: -1; opacity: .2; padding: 10px 30px; }

#homeSwiper .splide .info .detail > a:after { content: ''; position: absolute; left: 0; bottom: 0; background: #566c65; height: 1px; width: 100%; }

.white-mode .home-art2 { top: 0; opacity: 1; border-radius: 0; transition-delay: .3s; }

.white-mode #header .btn-nav:before, .white-mode #header .btn-nav:after, .white-mode #header .btn-nav span { background: #fff; transition-delay: .6s; }

.white-mode #header #logo > a { background-image: url("/images/logo-w.png"); transition-delay: .6s; }

.white-mode #footer address, .white-mode #footer .sales-inquiry .inner-wrap { color: #fff; transition-delay: .6s; }

.white-mode #footer .inner-wrap .btn-sales-detail:after { border-right-color: #fff; transition-delay: .6s; }

.white-mode #footer .sales-inquiry .tel:after, .white-mode #footer .sales-inquiry .email:after { background: #fff; transition-delay: .6s; }

.white-mode #footer .sales-inquiry .btn-copy { background: #fff; transition-delay: .6s; color: #000; }

.white-mode #footer .sales-inquiry .tel a:after { background-image: url("/images/tel1-w.png"); transition-delay: .6s; }

.white-mode #homeSwiper .splide .info { transform: translateY(-100%); opacity: 0; transition-duration: .5s; transition-delay: 0; }

.white-mode #homeSwiper .splide .splide__slider .splide__arrows button { top: 60%; opacity: 0; transition-delay: 0; transition-duration: .5s; }

.white-mode #homeSwiper .splide .pagiation-num { top: 40%; opacity: 0; transition-delay: 0; transition-duration: .5s; }

.white-mode #homeSwiper .splide .splide__autoplay { opacity: 0; transition-delay: .6s; }

.white-mode #header #nav { background: linear-gradient(to right, #000 20%, transparent); transition-delay: .6s; }

.white-mode #header #nav .nav-link { color: #fff; transition-delay: .6s; }

.white-mode #header #nav .nav-link:after { border-top: 1px solid #fff; }

.pc .home.contents .home-art3 { flex: 1; width: 100%; height: 100%; }

.pc .home.contents { height: 100vh; }

.pc .container { height: 100%; }

.pc .m4a-wrap { height: 100%; }

.contact.contents .contact-art-wrap { position: absolute; top: 200px; bottom: 200px; left: 180px; right: 180px; display: flex; flex-flow: row-reverse; transition: all .6s ease-in-out; }

.contact.contents .contact-art1 { position: relative; }

.contact.contents .contact-art1 h1 { font-size: 4.0rem; line-height: 1.2; font-weight: bold; transition: all .6s ease-in-out; }

.contact.contents .contact-art1 .eng { margin-top: 20px; font-size: 1.4rem; font-weight: bold; transition: all .2s ease-in-out; }

.contact.contents .contact-art1 .info { font-size: 1.4rem; margin-top: 45px; }

.contact.contents .contact-art1 .info b { font-weight: 900; display: inline-block; min-width: 40px; }

.contact.contents .contact-art1 .brochure { position: absolute; left: 0; bottom: 0px; }

.contact.contents .contact-art1 .btn-brochure { font-weight: 900; font-size: 1.4rem; letter-spacing: 2px; display: inline-block; width: 240px; padding-bottom: 10px; position: relative; transition: all .6s ease-in-out; }

.contact.contents .contact-art1 .btn-brochure:before { width: 20px; height: 20px; transform: skew(35deg); transform-origin: right bottom; position: absolute; right: 0; bottom: 0; border-right: 1px solid #000; }

.contact.contents .contact-art1 .btn-brochure:after { height: 1px; width: 100%; background: #000; position: absolute; bottom: 0; left: 0; }

.contact.contents .contact-art2 { flex: 1; padding-right: 40px; }

.contact.contents .contact-art2 .m4a-map { height: 100%; width: 100%; background: url(http://www.m4a.co.kr/m4a_2019/images/sub/m4a_map.jpg) center center no-repeat; background-size: cover; }

.about.contents .home-view-more { bottom: 40px; }

.about.contents .art-tpl { padding: 200px 100px 0px; transition: all .4s ease-in-out; }

.about.contents .about-art1, .about.contents .about-art2, .about.contents .about-art3 { height: 100vh; min-height: 640px; position: relative; }

.about.contents .about-art1 { background: url(http://www.m4a.co.kr/m4a_2019/images/sub/bg_about01.jpg) center center no-repeat; background-size: cover; }

.about.contents .about-art1:after { position: absolute; left: 0px; top: 0; width: 100%; height: 100%; background: url(http://www.m4a.co.kr/m4a_2019/images/sub/bgimg_about_m4a.png) center center no-repeat; background-size: cover; animation: aboutM4a1 3s infinite; }

.about.contents .about-art1:before { position: absolute; left: 0px; top: 0; width: 100%; height: 100%; background: #fff; opacity: 0.8; }

.about.contents .about-art1 .subject { position: absolute; z-index: 1; width: 100%; left: 0; top: 50%; text-align: center; margin-top: 160px; transition: all .4s ease-in-out; }

.about.contents .about-art1 .subject .tit { font-size: 4.8rem; font-weight: 900; transition: all .4s ease-in-out; }

.about.contents .about-art1 .subject .sub-txt { font-size: 1.4rem; font-weight: 900; letter-spacing: 3px; }

@keyframes aboutM4a1 { 0% { transform: translateY(20px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(20px); } }

.about.contents .about-art2 { background: url(http://www.m4a.co.kr/m4a_2019/images/sub/bg_about03.jpg) center 0 no-repeat; background-size: cover; }

.about.contents .about-art2:before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; opacity: 0.8; }

.about.contents .about-art2 .subject { position: relative; z-index: 1; margin-top: 30px; }

.about.contents .about-art2 .subject .tit { font-size: 6.0rem; font-weight: 900; line-height: 1.1; transition: all .4s ease-in-out; }

.about.contents .about-art2 .subject .sub-txt { font-size: 1.6rem; margin-top: 20px; max-width: 790px; font-weight: bold; }

.about.contents .about-art2 .process { margin-top: 110px; display: flex; position: relative; z-index: 1; transition: all .4s ease-in-out; }

.about.contents .about-art2 .process .step1 { flex: 1; }

.about.contents .about-art2 .process .step2 { flex: 0.9; }

.about.contents .about-art2 .process .step3 { flex: 1.2; }

.about.contents .about-art2 .process [class*=step] + [class*=step] { margin-left: 50px; }

.about.contents .about-art2 .process .tit { font-size: 3.0rem; font-weight: 900; line-height: 1.1; padding-bottom: 24px; border-bottom: 2px solid #000; }

.about.contents .about-art2 .process .sub-txt { margin-top: 24px; font-weight: bold; font-size: 1.6rem; }

.about.contents .about-art3 { background: url(http://www.m4a.co.kr/m4a_2019/images/sub/bg_about04.jpg) center 0 no-repeat; background-size: cover; }

.about.contents .about-art3:before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; opacity: 0.8; }

.about.contents .about-art3 .subject { position: relative; z-index: 1; text-align: center; margin-top: 30px; }

.about.contents .about-art3 .subject .tit { font-size: 6.0rem; font-weight: 900; line-height: 1.1; }

.about.contents .about-art3 .subject .sub-txt { font-size: 1.6rem; margin-top: 20px; font-weight: bold; }

.about.contents .about-art3 .process { margin-top: 110px; display: flex; position: relative; z-index: 1; }

.about.contents .about-art3 .process .tit { font-size: 1.8rem; font-weight: 900; line-height: 1.1; padding-bottom: 15px; border-bottom: 2px solid #000; white-space: nowrap; position: relative; }

.about.contents .about-art3 .process .tit:before { height: 20px; width: 20px; border-right: 2px solid #000; transform-origin: right bottom; position: absolute; right: 0; bottom: 0; transform: skew(35deg); }

.about.contents .about-art3 .process .sub-txt { margin-top: 15px; font-weight: bold; font-size: 1.4rem; }

.about.contents .about-art3 .process .sub-txt li + li { margin-top: 10px; }

.about.contents .about-art3 .process [class*=step] { flex: 1; }

.about.contents .about-art3 .process [class*=step] + [class*=step] { margin-left: 6%; }

.works-list-sec:before { position: fixed; width: 100%; height: 210px; background: linear-gradient(to bottom, white 65%, transparent 100%); left: 0; top: 0; z-index: 3; }

.works-list-sec:after { position: fixed; width: 100%; height: 180px; background: linear-gradient(to top, white 70%, transparent 100%); left: 0; bottom: 0; z-index: 3; }

.works-list-sec .masonry { margin: 0 auto; transition: all .4s ease-in-out; }

.works-list-sec .works-list-wrap { padding: 200px 100px 0px 100px; transition: all .4s ease-in-out; }

.works-list-sec .works-list { position: relative; }

.works-list-sec .section2 { padding-bottom: 100px; }

.works-list-sec .item { width: 380px; margin-bottom: 100px; position: relative; overflow: hidden; font-size: 1.4rem; }

.works-list-sec .item .link-block { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 3; overflow: hidden; color: transparent; font-size: 0; }

.works-list-sec .item .info-sec { padding: 30px 10px 0px; line-height: 1.3; }

.works-list-sec .item .info-sec .ptn { font-weight: 900; }

.works-list-sec .item .info-sec .name { font-size: 2.8rem; font-weight: 900; margin-top: 9px; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6); }

.works-list-sec .item .info-sec .etc { margin-top: 8px; }

.works-list-sec .item .info-sec .etc > b { display: inline-block; vertical-align: middle; width: 80px; font-weight: 900; }

.works-list-sec .item.type2 { height: 300px; }

.works-list-sec .item.type2:before { position: absolute; right: 10px; top: 0; width: 300px; height: 300px; border-radius: 100%; }

.works-list-sec .item.type2 .info-sec { position: absolute; width: 100%; box-sizing: border-box; padding: 0px 10px; top: 50%; transform: translateY(-50%); z-index: 2; }

.works-list-sec .item.type4 { height: 150px; }

.works-list-sec .item.type4:before { position: absolute; right: 0; top: 0; width: 300px; height: 150px; box-sizing: border-box; }

.works-list-sec .item.type4 .info-sec { position: absolute; width: 100%; box-sizing: border-box; padding: 0px 10px; top: 50%; transform: translateY(-50%); z-index: 2; }

.works-list-sec .item.type3 { padding-bottom: 20px; border-bottom: 2px solid #000; }

.works-list-sec .item.type2.n3:before { background: #7a92f1; }

.works-list-sec .item.type2.n6:before { background: #26a57a; }

.works-list-sec .item.type2.n9:before { background: #f37163; }

.works-list-sec .item.type2.n19:before { background: #616c97; }

.works-list-sec .item.type4.n10:before { border-style: solid; border-image: linear-gradient(125deg, #c0e7fb 0%, #b7b2f4 100%); border-width: 10px; border-image-slice: 1; }

.works-list-sec .item.type4.n17:before { border: 10px solid #fbd4d0; }

.works-list-sec .item.type2 .info-sec { width: 260px; }

.works-list-sec .item.type3 .info-sec { width: 300px; }

.works-list-sec .item.type4 .info-sec { width: 320px; }

.works-list-sec .item.type3.o4 .info-sec { width: auto; }

@media only screen and (max-height: 640px) { body.pc #header #nav > ul { top: 180px; transform: translateY(0); }
  body.pc .m4a-wrap { min-height: 640px; position: relative; }
  body.pc #footer address { position: absolute; }
  body.pc .about.contents .about-art1 .subject { margin-top: 120px; }
  .about.contents .about-art1 .subject .tit { font-size: 2.8rem; } }

@media only screen and (max-width: 340px) { html { zoom: 0.6; } }

@media only screen and (max-width: 1024px) { #header .btn-nav { left: 50px; top: 53px; }
  #header #logo { top: 50px; left: 100px; }
  #header #nav > ul { left: 100px; transform: translateY(-75%); }
  #header #nav .nav-link:before { left: 300px; width: calc(100vw - 410px); background-position: center center !important; background-size: auto 100% !important; }
  #header #nav .nav-link:hover:before { left: 260px; }
  #footer .sales-inquiry { right: 50px; top: 50px; }
  #footer address { left: 50px; bottom: 50px; }
  #homeSwiper .splide .info .contract { font-size: 5.2rem; line-height: 1.1; }
  #homeSwiper .splide .info .contract > span { margin: 0 100px; }
  #homeSwiper .splide .info .contract > span:before, #homeSwiper .splide .info .contract > span:after { opacity: 0; }
  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev { left: 40px; }
  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--prev:hover { left: 50px; }
  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next { right: 40px; }
  #homeSwiper .splide .splide__slider .splide__arrows .splide__arrow--next:hover { right: 50px; }
  #homeSwiper .splide .splide__autoplay { right: 40px; bottom: 40px; }
  .home-view-more { bottom: 80px; }
  .home-view-more .ani-arrow { height: 80px; }
  .home-art2 .prj-list { width: auto; left: 50px; right: 50px; top: 200px; transform: translate(0, 0); }
  .home-art2 .prj-list > ul > li { margin-bottom: 30px; }
  .home-art2 .prj-list > ul > li:nth-child(odd) { margin-right: 0; }
  .home-art2 .prj-list > ul > li:nth-child(even) { width: 50%; }
  .home-art2 .prj-list > ul > li .txt2 { font-size: 2.4rem; }
  #homeSwiper .splide .info .detail { bottom: -60px; }
  .contact.contents .contact-art-wrap { right: 100px; left: 100px; top: 150px; bottom: 150px; }
  .contact.contents .contact-art1 { width: 200px; }
  .contact.contents .contact-art1 h1 { font-size: 2.0rem; transition: all .0s ease-in-out; }
  .contact.contents .contact-art1 .eng { font-size: 1.2rem; }
  .contact.contents .contact-art1 .btn-brochure { font-size: 1.2rem; width: 200px; }
  .about.contents .art-tpl { padding: 150px 50px 0px; }
  .about.contents .about-art2 .process { margin-top: 100px; }
  .about.contents .about-art3 .process { margin-top: 80px; }
  .about.contents .about-art3 .subject { text-align: left; }
  .about.contents .about-art1 .subject .tit, .about.contents .about-art2 .subject .tit, .about.contents .about-art3 .subject .tit { font-size: 3.5rem; }
  .about.contents .about-art2 .process .tit { font-size: 2.0rem; }
  .about.contents .about-art3 .process .tit { font-size: 1.6rem; }
  .about.contents .about-art3 .process { flex-wrap: wrap; }
  .about.contents .about-art3 .process [class*=step] { width: 29%; flex: none; box-sizing: border-box; }
  .about.contents .about-art3 .process [class*=step] li + li { margin-top: 5px; }
  .about.contents .about-art3 .process .step4 { margin-left: 0 !important; }
  .about.contents .about-art3 .process .step4, .about.contents .about-art3 .process .step5 { margin-top: 30px; }
  .works-list-sec:before { height: 130px; }
  .works-list-sec:after { height: 120px; }
  .works-list-sec .works-list-wrap { padding: 150px 50px 0px; }
  .works-list-sec .item { width: calc(50vw - 85px); } }

@media only screen and (max-width: 640px) { body { min-height: 640px; }
  .pc-hide { display: block; }
  #header #logo { top: 25px; left: 60px; width: 50px; height: 20px; }
  #header .btn-nav { left: 17px; top: 26px; width: 23px; height: 14px; }
  #header .btn-nav { left: 13px; top: 22px; width: 31px; height: 22px; }
  #header .btn-nav:after, #header .btn-nav:before, #header .btn-nav span { height: 2px; width: 80%; left: 2px; }
  #header .btn-nav:after { bottom: 3px; }
  #header .btn-nav:before { top: 3px; }
  .pc #header .btn-nav:hover:after { width: 80%; transform: rotate(0deg); bottom: 3px; }
  .pc #header .btn-nav:hover:before { width: 80%; transform: rotate(0deg); top: 3px; }
  .pc #header .btn-nav.on:hover:after { width: 80%; transform: rotate(0deg); bottom: 3px; }
  .pc #header .btn-nav.on:hover:before { width: 80%; transform: rotate(0deg); top: 3px; }
  #header #nav { background: linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.4) 100%); }
  #header #nav > ul { left: 20px; right: auto; top: 125px; transform: translateY(0); }
  #header #nav a { font-size: 2.7rem; }
  #header #nav .nav-item + .nav-item { margin-top: 40px; }
  #header #nav .nav-link:before, #header #nav .nav-link:after { display: none; }
  #footer address { left: 0px; bottom: 20px; font-size: 1.0rem; text-align: center; width: 100%; }
  #footer .sales-inquiry { right: auto; left: -100%; top: auto; bottom: 55px; text-align: left; font-size: 1.6rem; transition: all .6s ease-in-out; margin-left: -6px; }
  #footer .sales-inquiry.on { left: 15px; }
  #footer .sales-inquiry .inner-wrap { left: 0; }
  #footer .btn-sales-detail { display: none; }
  #footer .sales-inquiry .email:after, #footer .sales-inquiry .tel:after { display: none; }
  #footer .sales-inquiry .email { padding-left: 85px; font-size: 1.4rem; padding-top: 2px; }
  #footer .sales-inquiry .btn-copy { top: 3px; right: 15px; }
  #footer .sales-inquiry .tel { margin-left: 75px; margin-top: 0px; font-size: 1.2rem; }
  #footer .sales-inquiry .brochure { display: block; margin-left: 10px; margin-top: 30px; padding-bottom: 10px; }
  .white-mode #header #nav { background: linear-gradient(to right, black 70%, rgba(0, 0, 0, 0.4) 100%); }
  .white-mode *:after, .white-mode *:before, .white-mode * { transition-delay: 0s !important; }
  .white-mode #footer .com-brochure:before { background: #fff; }
  .white-mode #footer .com-brochure:after { border-color: #fff; border-width: 2px; }
  .com-brochure { font-size: 1.1rem; font-weight: 900; position: relative; }
  .com-brochure:before { content: ''; height: 1px; width: 140px; background: #000; position: absolute; left: 0; bottom: -10px; }
  .com-brochure:after { content: ''; position: absolute; transform: skew(35deg); width: 20px; transform-origin: right bottom; height: 7px; border-right: 1px solid #000; bottom: -10px; left: 120px; }
  .home-view-more { font-size: 1.0rem; bottom: 10vh; margin-left: -50px; }
  .home-view-more .ani-arrow { height: 50px; bottom: auto; top: -10px; }
  .home-view-more .ani-arrow:before { width: 10px; height: 10px; }
  @keyframes moveDown { 0% { top: -10px; }
    50% { top: 0px; }
    100% { top: -10px; } }
  .home-art1 { position: relative; background: #fff; flex: 1; }
  .home-art1 .home-view-more { display: none; }
  .home-art1 .home-subject { display: block; padding: 40px 20px 40px; }
  .home-art1 .home-subject .home-tit1 { font-size: 1.8rem; font-weight: 900; line-height: 1.2; }
  .home-art1 .home-subject .home-txt1 { font-size: 1.1rem; margin-top: 10px; }
  .home-art1 .home-subject .brochure { position: fixed; bottom: 65px; left: 20px; }
  .home-art2 .prj-list { right: 20px; top: 100px; left: 50px; width: auto; }
  .home-art2 .prj-list ul > li { margin-bottom: 22px; }
  .home-art2 .prj-list ul > li:nth-child(odd), .home-art2 .prj-list ul > li:nth-child(even) { width: 100%; }
  .home-art2 .prj-list ul > li .btn-all-project { font-size: 1.2rem; width: 100px; position: absolute; right: 10px; bottom: -45px; }
  .home-art2 .prj-list ul > li .btn-all-project:before { height: 10px; right: 0; transform-origin: right bottom; }
  .home-art2 .prj-list ul > li .txt1 { font-size: 1.1rem; font-weight: normal; }
  .home-art2 .prj-list ul > li .txt2 { font-size: 1.6rem; }
  .home-art3 { width: 100%; }
  .home.contents .home-art3 { height: auto; background: #000; }
  #homeSwiper .splide .splide__arrows { display: none; }
  #homeSwiper .splide .info { transform: translate(0, -50%); left: 0; margin-top: 0; }
  #homeSwiper .splide .info .partner { position: absolute; width: 100%; left: 0; text-align: center; font-size: 1.2rem; top: -35px; }
  #homeSwiper .splide .info .partner span { min-width: 0; }
  #homeSwiper .splide .info .partner .plus { margin: 0px 5px; }
  #homeSwiper .splide .info .contract { font-size: 2.7rem; padding: 0; margin-top: 0; }
  #homeSwiper .splide .info .contract > span { margin: 0; display: block; padding: 0px 50px; }
  #homeSwiper .splide .info .contract > span:after, #homeSwiper .splide .info .contract > span:before { opacity: 1; left: 30px; font-size: 1.8rem; font-weight: bold; transform: rotate(15deg); margin-top: -10px; }
  #homeSwiper .splide .info .contract > span:after { left: auto; right: 30px; }
  #homeSwiper .splide .info .detail { bottom: -140px; }
  #homeSwiper .splide .info .detail > a { font-size: 1.0rem; }
  #homeSwiper .splide .info .detail > a:after { display: none; }
  #homeSwiper .splide .info .detail > a:before { padding: 3px 10px; left: -10px; top: -3px; background: rgba(255, 255, 255, 0.2); opacity: 1; box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05); letter-spacing: 10px; }
  #homeSwiper .splide .splide__pagination { position: absolute; bottom: 3px; height: 2px; z-index: 3; }
  #homeSwiper .splide .splide__pagination > li { line-height: 0; }
  #homeSwiper .splide .splide__pagination .splide__pagination__page { opacity: 0.7; height: 2px; }
  #homeSwiper .splide .pagiation-num { opacity: 0; }
  #homeSwiper .splide .splide__autoplay { right: 10px; bottom: 10px; }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide:before { opacity: 0; }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide { background-size: 100% auto; background-position: center bottom; position: relative; opacity: 1; height: 0; padding-top: 11.853%; }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item1 { background-image: url("/images/img_prj_banner1_m.png"); }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item1:before { opacity: 0.5; }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item2 { background-image: url(http://www.m4a.co.kr/m_2019/img/main/img_prj_banner1.jpg); }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item3 { background-image: url(http://www.m4a.co.kr/m_2019/img/main/img_prj_banner2.jpg); }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item4 { background-image: url(http://www.m4a.co.kr/m_2019/img/main/img_prj_banner3.jpg); }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item5 { background-image: url(http://www.m4a.co.kr/m_2019/img/main/img_prj_banner4.jpg); }
  #homeSwiper .splide .splide__slider .splide__track .splide__list .splide__slide.prj-item6 { background-image: url(http://www.m4a.co.kr/m_2019/img/main/img_prj_banner5.jpg); }
  .contact.contents { padding: 70px 20px 40px; }
  .contact.contents .contact-art-wrap { position: relative; flex-direction: column; top: 0; left: 0; bottom: 0; right: 0; padding: 20px 0px 35px; box-sizing: border-box; height: calc(100vh - 130px); transition: all .0s ease-in-out; }
  .contact.contents .contact-art1 { width: auto; padding-bottom: 30px; position: static; }
  .contact.contents .contact-art1 h1 { font-size: 2.7rem; transition: all .0s ease-in-out; }
  .contact.contents .contact-art1 .eng { font-size: 1.2rem; margin-top: 20px; }
  .contact.contents .contact-art1 .info { margin-top: 25px; font-size: 1.2rem; }
  .contact.contents .contact-art1 .btn-brochure { width: 140px; bottom: 10px; font-size: 1.1rem; letter-spacing: 0; }
  .contact.contents .contact-art1 .btn-brochure:before { height: 10px; }
  .contact.contents .contact-art2 { padding-right: 0; padding-bottom: 30px; }
  .about.contents .home-view-more { bottom: 10vh; }
  .about.contents .art-tpl { padding: 60px 20px 0px; }
  .about.contents .about-art1 { background: url(http://www.m4a.co.kr/m_2019/img/sub/bg_about_01.png) center top no-repeat; background-size: cover; }
  .about.contents .about-art1:before { display: none; }
  .about.contents .about-art1:after { background: url(http://www.m4a.co.kr/m_2019/img/sub/bg_m4a.png) center 0 no-repeat; background-size: contain; }
  .about.contents .about-art1 .subject { margin-top: 110px; }
  .about.contents .about-art1 .subject .tit { font-size: 2.0rem; margin: 0 auto; line-height: 1.2; }
  .about.contents .about-art1 .subject .sub-txt { margin-top: 10px; font-size: 1.1rem; font-weight: normal; letter-spacing: 0; }
  .about.contents .about-art2 .subject .tit { font-size: 2.4rem; }
  .about.contents .about-art2 .subject .sub-txt { font-size: 1.4rem; }
  .about.contents .about-art2 .process { display: block; margin-top: 30px; }
  .about.contents .about-art2 .process [class*=step] + [class*=step] { margin: 0; margin-top: 20px; }
  .about.contents .about-art2 .process .tit { font-size: 1.8rem; padding-bottom: 0px; border-bottom-width: 0px; }
  .about.contents .about-art2 .process .sub-txt { font-size: 1.2rem; margin-top: 10px; }
  .about.contents .about-art3 .subject .tit { font-size: 2.4rem; }
  .about.contents .about-art3 .subject .sub-txt { font-size: 1.4rem; }
  .about.contents .about-art3 .subject .sub-txt br { display: none; }
  .about.contents .about-art3 .process { display: flex; margin-top: 30px; }
  .about.contents .about-art3 .process [class*=step] { width: 50%; box-sizing: border-box; padding-bottom: 20px; }
  .about.contents .about-art3 .process [class*=step]:nth-child(odd) { padding-right: 20px; }
  .about.contents .about-art3 .process [class*=step]:nth-child(even) { padding-left: 30px; }
  .about.contents .about-art3 .process [class*=step] + [class*=step] { margin: 0; }
  .about.contents .about-art3 .process .tit { font-size: 1.8rem; padding-bottom: 10px; border-bottom-width: 0px; padding-bottom: 0; }
  .about.contents .about-art3 .process .tit:before { display: none; }
  .about.contents .about-art3 .process .sub-txt { font-size: 1.2rem; margin-top: 10px; }
  .about.contents .about-art3 .process .sub-txt li + li { margin-top: 1px; }
  .works-list-sec:before { height: 90px; }
  .works-list-sec:after { height: 65px; }
  .works-list-sec .masonry { width: 100% !important; }
  .works-list-sec .works-list-wrap { padding: 85px 20px 0px; }
  .works-list-sec .item { width: 100%; margin-bottom: 60px; }
  .works-list-sec .item .img-sec { height: auto; }
  .works-list-sec .item .img-sec img { width: 100%; } }
